html{
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: linear-gradient(#30142b, #a12727);
}

.logo {
    width: 250px;
    height: 250px;
    margin: 40px auto;
    display: block;
    border-radius: 50%;
    overflow: hidden;
}

.registro-container {
    text-align: center;
}

.registro-box {
    width: 80%;
    max-width: 400px;
    margin: 0 auto;
    padding: 40px;
    background: rgba(0, 0, 0, .5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    border-radius: 10px;
}

.registro-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
}

.user-box {
    position: relative;
}

.user-box input, .user-box select {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}

.user-box select {
    background: rgba(0, 0, 0, .5); /* Fondo del menú desplegable del mismo color que el box */
    color: #fff; /* Letras blancas */
}

.user-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}

.user-box input:focus ~ label, .user-box input:valid ~ label,
.user-box select:focus ~ label, .user-box select:valid ~ label {
    top: -20px;
    left: 0;
    color: #f68e44;
    font-size: 12px;
}

.user-box select:focus ~ label, .user-box select:valid ~ label {
    margin-top: -10px; /* Ajusta el margen superior para alejar la palabra "Rol" */
}

form button {
    width: 100%;
    padding: 10px;
    border: none;
    background: #b79726;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
}

form button:hover {
    background: #f49803;
}
