html {
    height: 100%;
  }
  body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: linear-gradient(#30142b, #a12727);
  }
  
  .logo {
    width: 250px; /* Ajusta el ancho según el tamaño de tu logo */
    height: 250px; /* Ajusta la altura según necesites */
    margin: 40px auto; /* Ajusta el margen según sea necesario */
    display: block;
    border-radius: 50%; /* Hace que la imagen tenga forma circular */
    overflow: hidden; /* Evita que la imagen se salga del contenedor circular */
  }
  
  .login-container {
    text-align: center;
  }
  
  .login-box {
    width: 80%;
    max-width: 400px; /* Ancho máximo del formulario */
    margin: 0 auto;
    padding: 40px;
    background: rgba(0, 0, 0, .5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    border-radius: 10px;
  }
  
  .login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
  }
  
  .login-box .user-box {
    position: relative;
  }
  
  .login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
  }
  
  .login-box .user-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
  }
  
  .login-box .user-box input:focus ~ label,
  .login-box .user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: #f68e44;
    font-size: 12px;
  }
  
  .login-box form button {
    width: 100%;
    padding: 10px;
    border: none;
    background: #b79726;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .login-box form button:hover {
    background: #f49803;
  }

  .forgot-password {
    display: block;
    text-align: left;
    margin-top: 20px; /* Ajusta el margen según sea necesario */
    color: #000;
    text-decoration: none;
  }
  
  .forgot-password:hover {
    text-decoration: underline;
  }
  